<div class="block up"></div>
<div class="block down"></div>
<div class="design"></div>

<style>
  body{
    margin:0px;
    background:#293462;
  }
  .block {
    width: 200px;
    height: 100px;
    position:absolute;
    left:100px;
    border-radius:20px;
  }
  .up{
    top:90px;
    background: #FE5F55;
    z-index:-2;
  }
  .down{
     top:110px;
    background: #A64942;
    z-index:-3;
  }
  .design{
    width: 140px;
    height: 40px;
    position:absolute;
    left:130px;
    top:120px;
    border-radius:20px;
    background:#A64942;
  }
</style>
