<div class="left"></div>
<div class="right"></div>
<style>
  body{
    margin:0;
    background:#AA445F;
  }
  .left {
    width: 100px;
    height: 200px;
    border-radius:150px 0 0 150px;
    background: #F7EC7D;
    position:absolute;
    left:75;
    top:50px;
  }
  .right {
    width: 100px;
    height: 200px;
    border-radius:150px 0 0 150px;
    background: #E38F66;
    position:absolute;
    right:75px;
    top:50px;
    transform:rotate(180deg);
  }
</style>
