<div class="tube-left"></div>
<div class="circle-left"></div>
<div class="tube-right"></div>
<div class="circle-right"></div>
<style>
  body{
    margin:0px;
    background:#62306D;
  }
  .tube-left {
    width: 100px;
    height: 150px;
    border-radius:100px;
    background:#AA445F;
    position:absolute;
    left:80px;
    top:50px;
  }
  .circle-left{
    width: 100px;
    height: 100px;
    border-radius:100px;
    background:#F7EC7D;
    position:absolute;
    left:80px;
    top:100px;
  }
  .tube-right {
    width: 100px;
    height: 150px;
    border-radius:100px;
    background: #E38F66;
    position:absolute;
    right:80px;
    bottom:50px;
  }
  .circle-right{
    width: 100px;
    height: 100px;
    border-radius:100px;
    background:#F7EC7D;
    position:absolute;
    right:80px;
    bottom:100px;
  }
</style>
