<div class="circle"></div>
<div class="shape-left"></div>
<div class="shape-right"></div>
<style>
  body{
    margin:0px;
    background:#E38F66
  }
  .circle {
    width: 200px;
    height: 200px;
    border-radius:100px;;
    background: #AA445F;
    position:absolute;
    left:100px;
    top:50px;
  }
  .shape-left{
    width: 40px;
    height: 40px;
    border-bottom-left-radius:100px;
    border-left:30px solid #F7EC7D;
    border-bottom:30px solid #F7EC7D;
    background: #AA445F;
    position:absolute;
    left:130px;
    top:150px;
    
  }
  .shape-right{
    width: 40px;
    height: 40px;
    border-top-right-radius:100px;
    border-top:30px solid #F7EC7D;
    border-right:30px solid #F7EC7D;
    background: #AA445F;
    position:absolute;
    right:130px;
    top:80px;
    
  }
</style>
