<div class="circle up"></div>
<div class="circle down"></div>
<div class="circle left"></div>
<div class="circle right"></div>
<div class="square"></div>
<style>
  body{
    margin:0px;
    background:#09042A;
  }
  .square{
    width:70px;
    height:55px;
    background:#E78481;
    position:absolute;
    left:170px;
    top:125px;
    z-index:-3;
  }
  .circle{
    width:60px;
    height:60px;
    border-radius:100px;
    position:absolute;
  }
  .up{
    left:160px;
    top:57px;
    border:10px solid #09042A;
    background:#F5BB9C;
  }
   .down{
    left:160px;
    bottom:57px;
    border:10px solid #09042A;
    background:#F5BB9C;
  }
  .left{
    left:100px;
    top:110px;
    border:10px solid #E78481;
    background:#09042A;
  }
  .right{
    right:100px;
    top:110px;
    border:10px solid #E78481;
    background:#09042A;
  }
</style>
