<div class="left"></div>
<div class="right"></div>
<div class="middle"></div>
<style>
  body{
    margin:0px;
    background:#926927;
  }
  .right {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #6D480A;
    border-radius: 100% 0 100% 0;
    right:100px;
    bottom:80px
  }
  .left {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #6D480A;
    border-radius: 0 100% 0 100%;
    left:100px;
    bottom:80px
  }
  .middle {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 0 100% 0 100%;
    left:150px;
    bottom:100px;
    transform: rotate(45deg);
  }
</style>
