<div class="shape one"></div>
<div class="shape two"></div>
<div class="shape three"></div>
<div class="shape four"></div>
<div class="shape five"></div>
<style>
  body{
    margin:0px;
    background:#4F77FF;
  }
  .shape {
    position: absolute;
    width: 60px;
    height: 200px;
    background: #dd6b4d;
  }
  .one{
    left:50px;
    top:50px;
    background:#1038BF;
  }
  .two{
    width: 20px;
    left:130px;
    top:50px;
    background:#FFFFFF;
  }
   .three{
    left:170px;
    top:50px;
    background:#1038BF;
  }
  .four{
    width: 20px;
    left:250px;
    top:50px;
    background:#FFFFFF;
  }
  .five{
    left:290px;
    top:50px;
    background:#1038BF;
  }
</style>
