<div class="shape left"></div>
<div class="shape mid"></div>
<div class="shape right"></div>
<style>
  body{
    margin:0px;
    background:#0B2429;
  }
  .shape {
    width: 150px;
    height: 150px;
    background: #0B2429;
     border-radius:65% 0;
  }
  .left{
    background:#1A4341;
    position:absolute;
    top:75px;
    left:75px;   
  }
  .mid{
    background:#998235;
    position:absolute;
    top:75px;
    left:125px;
  }
  .right{
    background:#F3AC3C;
    position:absolute;
    top:75px;
    left:175px;   
  }
</style>

