<div class="circle"></div>
<div class="leaf one"></div>
<div class="leaf two"></div>
<style>
  body{
    margin:0px;
    background:#0B2429;
  }
  .circle{
    width:120px;
    height:120px;
    background:#F3AC3C;
    position:absolute;
    border-radius:50%;
    top:30px;
    right:80px;
  }
  .leaf{
    width:120px;
    height:120px;
    border-radius:50% 0 50% 50%;
    position:absolute;
  }
  .one{
    background:#998235;
    right:140px;
    top:90px; 
  }
  .two{
    background:#F3AC3C;
    left:80px;
   	bottom:30px; 
  }
</style>
