<div class="base"></div>
<div class="center"></div>
<div class="fork one"></div>
<div class="fork two"></div>
<div class="fork three"></div>
<div class="fork four"></div>
<div class="gap gone"></div>
<div class="gap gtwo"></div>
<div class="gap gthree"></div>
<style>
  body{
    margin:0px;
    background:#6592CF;
  }
  .base {
    width: 20px;
    height: 51px;
    background: #060F55;
    position:absolute;
    left:190px;
    bottom:0px;
  }
  .center{
    width: 140px;
    height: 100.5px;
    background: #060F55;
    border-radius:0 0 100px 100px;
    position:absolute;
    left:130px;
    bottom:50px;
  }
  .fork{
    width: 20px;
    height: 100px;
    background: #060F55;
    border-radius:100px 100px 0 0;
    position:absolute;
  }
  .one{
    left:130px;
    top:50px;
  }
  .two{
    left:170px;
    top:50px;
  }
  .three{
    left:210px;
    top:50px;
  }
  .four{
    left:250px;
    top:50px;
  }
  .gap{
    width:20px;
    height:10px;
    background:#6592CF;
    border-radius:0 0 100px 100px;
    position:absolute; 
  }
  .gone{
    left:150px;
    top:150px;
  }
  .gtwo{
    left:190px;
    top:150px;
  }
  .gthree{
    left:230px;
    top:150px;
  }
</style>
